<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nextinnovation.pt.barcodescanner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/barcode_logo_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="com.nextinnovation.pt.barcodescanner.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nextinnovation.pt.barcodescanner.MainActivity" />
        <activity
            android:name="com.nextinnovation.pt.barcodescanner.WebViewActivity"
            android:theme="@style/WebActivityTheme"
            android:label="Barcode Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nextinnovation.pt.barcodescanner.MainActivity" />
        </activity>
    </application>

</manifest>